body{
    background-color:#f2f2f2 ;
}
.cell{
    width:40px;
    height:40px;
    text-align:center;
    font-size: 30px;
    background-color: white;
}
.empty{
    background-color: #f2f2f2;
}
.empty:hover{
    background-color: #7d95c9;
}
table, th, td {
    border: 3px solid black;
}
table{
    border-collapse: collapse;
}
.mainlabel{
    font-size: 20px;
}